.d1{
    width: 20%;
    height: 650px;
    background: #1b3133;
    font-size: 20px;
    color:  white;
    position: fixed;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.d1 ul li a{
    color: white;
}

.d1,.d2{
    display: inline-block;
}
ul {
    list-style-type: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a {
    display: block;
    /* color: rgb(38, 90, 105); */
    /* text-align: center; */
    /* padding: 20px 16px; */
    text-decoration: white;
    /* margin-left:100px ; */
}
