.d1{
    width: 18%;
    height: 650px;
    background: #1b3133;
    font-size: 20px;
    color:  white;
    position: fixed;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  .d1 ul li a{
    color: white;
  }
  
  .d1,.d2{
    display: inline-block;
  }
  ul {
    list-style-type: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li a {
    display: block;
    /* color: rgb(38, 90, 105); */
    /* text-align: center; */
    /* padding: 20px 16px; */
    text-decoration: white;
    /* margin-left:100px ; */
  }
  
  .d2{
      width: 80%;
      height: 650px;
      background-color:#ecf0f4 ;
      margin-left: 280px;
      padding: 20px;
      
      
      
  }
  h2{
      color:white;
  }
  /* .card2{
      height: 200px;
  } */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h4{
      font-family: 'Times New Roman', Times, serif;
  }
  button{
    background-color: #30858d;
    color: white;
    border-radius: 4px;
    border: 1px #30858d;
  }
  button,.card-text,.card-link{
    display: inline-block;
  }
  /* .card{
    width: 50px;
    
    background: white;
  } */
  .footer{
    width: 50%;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
  
    color: black;
  }
  h3{
    color: rgb(80, 78, 202);
    font-family: 'Times New Roman', Times, serif;
  }
  p,.td,.tr{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pz;
    

    

  }
  .card{
    width: 95%;
    background: white;
    border-radius: 8px;
  }